.title-matrix-lr {
	background: linear-gradient(90deg,green,lime,green);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}

.heading-normal {
	font-weight: normal;
}

.heading-normal a {
	text-decoration: none;
}